*pycache*
*.pyc
*.log
*.o
todo.txt

docs/html
docs/latex
outputs/
graphs/
*.png
*.bag
*.pcd
*.ply
*.npy
*.tar
ws_outputs/
temp/

test/outputs/
sandbox/

examples/fusion_portable/feature_index/
*.npy

docker/.etc*